CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps

*.[oa]
*.exe
*.cbp
*.depend
bin/
obj/
.exe
*.layout
.layout
.vs/

Debug/
ipch/
*.sln
*.db
*.vcxproj
*.filters

